html, input, button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 8px;
  background-color: #4bc0a0;
  color: #f7f7f8;
}

img {
  max-width: 100%;
}

button, input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  padding: 4px;
  margin: 0;
  display: block;
  width: 100%;
  font-size: 14px;
}

.input-btn-combo {
  width: 100%;
}

.input-btn-combo input {
  display: inline;
  width: 75%;
}

.input-btn-combo button {
  display: inline;
  margin-left: 5%;
  width: 20%;
}

button.primary {
  background-color: #5bc6fa;
}

button {
  background-color: #348d74;
  color: white;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
}

a {
  color: inherit;
}

h1 {
  margin-bottom: 0;
}

.subtitle {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 10px;
}
